In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns

In [27]:
# acceso a internet por tecnología y provincia
internet_tecnología_provincia= pd.read_csv("internet/Acceso_Internet_fijo_por_tecnología_y_provincia.csv")

In [28]:
#creamos una columna item, que se usará para unir dataframe
internet_tecnología_provincia['Item'] = internet_tecnología_provincia.Año.astype(str) + internet_tecnología_provincia.Provincia.astype(str)
internet_tecnología_provincia.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Item
0,2022,1,Buenos Aires,392.045,2.728.865,1.242.121,125.521,66.872,4.555.424,2022Buenos Aires
1,2022,1,Capital Federal,102.290,1.217.225,62.308,5.784,29.934,1.417.541,2022Capital Federal
2,2022,1,Catamarca,14.181,15.517,29.118,1.328,2.234,62.378,2022Catamarca
3,2022,1,Chaco,32.391,64.546,36.662,8.164,2.356,144.119,2022Chaco
4,2022,1,Chubut,44.133,66.667,9.184,30.592,21.052,171.628,2022Chubut

In [29]:
#penetración de internet fijo, accesos cada 100 hogares
penetracion_internet=pd.read_csv("internet/Penetración_de _Internet fijo _(accesos _cada_100 hogares).csv")

In [30]:
penetracion_internet['Item'] = penetracion_internet.Año.astype(str) + penetracion_internet.Provincia.astype(str)
penetracion_internet.head()

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Item
0,2022,1,Buenos Aires,"76,08",2022Buenos Aires
1,2022,1,Capital Federal,"111,8",2022Capital Federal
2,2022,1,Catamarca,"58,21",2022Catamarca
3,2022,1,Chaco,"44,06",2022Chaco
4,2022,1,Chubut,"88,05",2022Chubut

In [31]:
# Selecciono solo las columnas que quiero para le merge
tecnologia_penetracion_merged = pd.merge(internet_tecnología_provincia, penetracion_internet, how='left', on='Item')
tecnologia_penetracion_merged.head()

,Año_x,Trimestre_x,Provincia_x,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Item,Año_y,Trimestre_y,Provincia_y,Accesos por cada 100 hogares
0,2022,1,Buenos Aires,392.045,2.728.865,1.242.121,125.521,66.872,4.555.424,2022Buenos Aires,2022.0,1.0,Buenos Aires,"76,08"
1,2022,1,Capital Federal,102.290,1.217.225,62.308,5.784,29.934,1.417.541,2022Capital Federal,2022.0,1.0,Capital Federal,"111,8"
2,2022,1,Catamarca,14.181,15.517,29.118,1.328,2.234,62.378,2022Catamarca,2022.0,1.0,Catamarca,"58,21"
3,2022,1,Chaco,32.391,64.546,36.662,8.164,2.356,144.119,2022Chaco,2022.0,1.0,Chaco,"44,06"
4,2022,1,Chubut,44.133,66.667,9.184,30.592,21.052,171.628,2022Chubut,2022.0,1.0,Chubut,"88,05"

In [32]:
# Exporto a csv el dataframe
tecnologia_penetracion_merged.to_csv('dataset_etl/tecnologia_penetracion_merged.csv', index=False)

In [41]:
# dataset de reclamor adicional
reclamos= pd.read_csv("reclamos/Denuncias_y_reclamos_202306.csv")

In [42]:
reclamos

                       Operador  Cantidad
0        Telecom Argentina S.A.     1.665
1  Telefonica de Argentina S.A.   426.000
2               TELECENTRO S.A.   478.000
3                         Otros   379.000

In [44]:
reclamos.columns

Index(['Operador', 'Cantidad'], dtype='object')

In [38]:
reclamos_motivo= pd.read_csv("reclamos/Denuncias_y_reclamos_motivo_202306.csv")

In [39]:
reclamos_motivo

,Año,Mes,Motivo de Reclamo,Operador,Cantidad
0,2023,1,Facturación,AMX Argentina S.A. (Claro),16
1,2023,1,Facturación,DIRECTV Argentina S.A.L,4
2,2023,1,Facturación,Fibertel S.A. (TCI),8
3,2023,1,Facturación,Movistar - Telefonica Moviles Argentina S.A.,24
4,2023,1,Facturación,Otros,25
...,...,...,...,...,...
179,2023,5,Problemas Técnicos,Movistar - Telefonica Moviles Argentina S.A.,18
180,2023,5,Problemas Técnicos,Otros,30
181,2023,5,Problemas Técnicos,TELECENTRO S.A.,26
182,2023,5,Problemas Técnicos,Telecom Argentina S.A.,516
183,2023,5,Problemas Técnicos,Telefonica de Argentina S.A.,159

In [45]:
reclamos_motivo.columns

Index(['Año', 'Mes', 'Motivo de Reclamo', 'Operador', 'Cantidad'], dtype='object')

In [47]:
df_ingresos = pd.read_csv('Internet/Ingresos_trimestrales_prestación_servicio_Internet_fijo.csv')
df_ingresos.head()

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          1                51.432.896   Ene-Mar 2022
1  2021          4                45.467.887   Oct-Dic 2021
2  2021          3                42.999.944  Jul-Sept 2021
3  2021          2                38.239.667   Abr-Jun 2021
4  2021          1                36.676.371   Ene-Mar 2021

In [50]:
df_ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        33 non-null     int64
 1   Trimestre                  33 non-null     int64
 2   Ingresos (miles de pesos)  33 non-null     object
 3   Periodo                    33 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [51]:
df_ingresos.columns

Index(['Año', 'Trimestre', 'Ingresos (miles de pesos)', 'Periodo'], dtype='object')

In [52]:
# cambiemos tipo de dato de ingresos
df_ingresos['Ingresos (miles de pesos)'] = df_ingresos['Ingresos (miles de pesos)'].str.replace('.', '').astype(float)

C:\Users\SEBASTIAN\AppData\Local\Temp\ipykernel_10684\258399409.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_ingresos['Ingresos (miles de pesos)'] = df_ingresos['Ingresos (miles de pesos)'].str.replace('.', '').astype(float)

In [55]:
df_ingresos.to_csv('dataset_etl/ingresos.csv', index=False)